@media screen and (max-width: 500px) {
    
    /* header */
    header{
        padding: 20px 40px;
    }
    #but-grill{
        padding: 6px 22px;
    }
    
    /* main */
    h2{
        padding: 0 50px;
    }
    h3{
        padding: 0 50px;
    }
    #grill{
        max-width: 54vh;
        height: 54vh;
        padding: 15px;
    }
    .cell{
        font-size: 12px;
        /* text-align: center;
        height: 42.31px;
        line-height: 42.31px; */
        /* height: 34px;
        line-height: 34px; (x max-400px)*/
    }
    
    /* footer */
    footer{
        padding: 18px 40px;
        font-size: 10px;
    }
    }