*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
    background-color: rgb(0, 91, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 60px;
}
h1{
    font-size: 35px;
    color: black;
    font-family:'FontAwesome', 'Arial Narrow', Arial, sans-serif;
}
#but-grill{
    color: white;
    padding: 8px 30px;
    border: 0;
    background-color:rgb(14, 14, 14);
    border: 3px dotted rgb(0, 148, 0);
    border-radius: 10px;
    cursor: pointer;
}
#but-grill:hover{
    color: black;
    background-color: rgb(0, 148, 0);
    border-color: rgb(14, 14, 14);
}

/* main */
main{
    padding-top: 20px;
    padding-bottom: calc(20px + 38.4px);
    background-color: rgb(14, 14, 14);
}
h2{
    font-family: 'Press Start 2P';
    font-size: 26px;
    text-align: center;
    margin-top: 15px;
    animation-name: letter_space;
    animation-duration: 3s;
    display: none;
}
@keyframes letter_space {
    0% {letter-spacing: normal;}
    25%  {letter-spacing: 20px;}
    50%  {letter-spacing: 20px;}
    100% {letter-spacing: normal;}
}

.h2-green{
    color: green;
}
h3{
    text-align: center;
    color: rgba(128, 128, 128, 0.900);
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16.5px;
    font-style: italic;
}
#grill{
    padding: 15px;
    margin: auto;
    max-width: calc(100vh - 180px);
    height: calc(100vh - 180px);
    display: flex;
    flex-wrap: wrap;
}
.cell{
    width: calc(100%/10 - 2px);
    height: calc(100%/10 - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    border: 1px solid rgba(128, 128, 128, 0.900);
    margin: 1px;
    font-size: 22px;
    color: black;
    cursor: pointer;
}
.cell.cell-bomb{
    background-color: red;
}
.cell.cell-normal{
    background-color: rgb(0, 148, 0);
}

/* footer */
footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(0, 101, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 60px;
    font-size: 12px;
}
