*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
}
#but-grill{
    padding: 8px 30px;
    border: 0;
    background-color:aqua;
    border: 2px solid skyblue;
    border-radius: 10px;
    cursor: pointer;
}
#but-grill:hover{
    background-color: skyblue;
}

/* main */
h2{
    text-align: center;
    margin-top: 30px;
    color: rgb(57, 57, 57);
}
h3{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: rgb(92, 195, 236);
}
#grill{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 200px;
}
.cell{
    background-color: aqua;
    border: 1px solid gray;
    margin: 7px;
    width: calc(100%/10 - 14px);
    height: 97.91px;
    text-align: center;
    line-height: 97.91px;
    font-size: 22px;
    color: rgb(57, 57, 57);
    cursor: pointer;
}
.cell.cell-bomb{
    background-color: red;
}
.cell.cell-normal{
    background-color: skyblue;
}

footer{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 60px;
    font-size: 14px;
}